<div class="cc-collectibles-thumbnail component {{ unique }}">
    <div class="inner component-inner" [style]="options.style">
        <div *ngIf="working == true && loaded == false" class="loading">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
        <div *ngIf="working == false && loaded == false" class="fail">
            <span class="fa fa-picture-o"></span>
        </div>
        <div *ngIf="working == false && loaded == true" class="loaded">
            <div *ngIf="resizedUrl.length">
                <a routerLink="{{ collectible.absoluteUrl }}">
                    <img src="{{ resizedUrl }}" class="img-responsive" />
                </a>
            </div>
            <div *ngIf="collectible.files[0] === undefined" class="no-files">
                <span class="fa fa-picture-o"></span>
            </div>
            <div *ngIf="authorized" class="btn btn-danger delete">
                <span class="fa fa-close" (click)="delete()"></span>
            </div>
        </div>
    </div>
</div>
