<div class="cc-images-table component">
    <div class="inner component-inner">
        <div *ngIf="working == true && loaded == false" class="loading">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
        <div *ngIf="working == false && loaded == false" class="fail">
            <span class="fa fa-picture-o"></span>
        </div>
        <div *ngIf="working == false && loaded == true" class="loaded">
            <div *ngFor="let file of files | slice
                  :(pageCurrent - 1) * paginationOptions.itemsPerPage
                  :(pageCurrent - 1) * paginationOptions.itemsPerPage + paginationOptions.itemsPerPage" 
                 class="files">
                <cc-thumbnail 
                    [options]="thumbnailOptions"
                    [file]="file"
                    (onFileDelete)="onFileDelete($event)"
                    (onAlert)="onAlert($event)">
                </cc-thumbnail>
            </div>
            <cc-pagination 
                [options]="paginationOptions" 
                (onAlert)="onAlert($event)" 
                (onPageChange)="onPageChange($event)">
            </cc-pagination>
        </div>
    </div>
</div>