<div class="cc-collectible-full component">
    <div class="inner component-inner">
        <div *ngIf="working == true && loaded == false" class="loading">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
        <div *ngIf="working == false && loaded == false" class="fail">
            <span class="fa fa-picture-o"></span>
        </div>
        <div *ngIf="working == false && loaded == true" class="loaded">
            <div *ngIf="success == true" class="success">
                <div class="cc-table">
                    <div class="cc-table-cell">
                        <span class="fa fa-check" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="media">
                            <div class="media-left">
                                <cc-images-table 
                                    [files]="collectible.files" 
                                    [options]="tableOptions"
                                    (onAlert)="doAlert($event)">
                                </cc-images-table>
                            </div>
                            <div class="media-body">
                                <h1 class="media-heading">{{ collectible.name }}</h1>
                                {{ collectible.description }}
                                <div *ngIf="(currentUser.user._id == collectible.userId) || currentUser.user.isAdmin()">
                                    <a routerLink="{{ collectible.absoluteUrl }}/edit">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
