var path = require('path');

module.exports = {
    // You must change the token signature.
    'tokenSignature': 'secret',
    'database': 'mongodb://localhost/CollectibleCMS',
    // Local port that express should serve CollectibleCMS on.
    'port': 8081,
    'domain': 'http://localhost',
    'rootPath': path.dirname(process.mainModule.filename),
    'uploadPath': 'uploads'    
};
